.pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px
        }
        
        .pagination>li {
            display: inline
        }
        
        .pagination>li>a,
        .pagination>li>span {
            position: relative;
            float: left;
            padding: 6px 12px;
            line-height: 1.42857143;
            color: #4d4d4d;
            text-decoration: none;
            background-color: #f3f3f3;
            border: 1px solid #ddd;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin: 0 4px;
        }
        
        .pagination>li:first-child>a,
        .pagination>li:first-child>span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        
        .pagination>li:last-child>a,
        .pagination>li:last-child>span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        
        .pagination>li>a:focus,
        .pagination>li>a:hover,
        .pagination>li>span:focus,
        .pagination>li>span:hover {
            z-index: 2;
            color: #fff;
            border-color: #ce0000!important;
            background-color: #ce0000!important;
        }
        
        .pagination>.active>a,
        .pagination>.active>a:focus,
        .pagination>.active>a:hover,
        .pagination>.active>span,
        .pagination>.active>span:focus,
        .pagination>.active>span:hover {
            z-index: 3;
            color: #ce0000!important;
            cursor: default;
            background-color: #fff!important;
            border-color: #fff!important;
        }
        
        .pageJump {
            display: inline-block;
            padding-left: 0;
            margin: 20px 10px;
            border-radius: 4px;
            vertical-align: top;
        }
        
        .pageJump p {
            display: inline-block;
            margin: 0;
        }
        
        .pageJump .button,
        .pageJump input {
            font-size: 16px;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #4d4d4d;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd
        }
        
        .pageJump input {
            width: 38px;
            height: 38px;
            border: 1px solid #ddd;
            text-align: center;
            background-color: #fff;
            padding: 0;
        }
        
        #page .not_allow {
            color: #ddd;
            border-color: #ddd;
            cursor: not-allowed;
        }
        
        .pageJump .button {
            background-color: #f3f3f3;
        }
        
        .pageJump form {
            display: inline-block;
        }
        
        .button:hover {
            cursor: pointer;
            color: #fff;
            border-color: #ce0000;
            background-color: #ce0000;
        }
        
        #page .page_prev {
            background-color: #fff;
            width: 74px;
        }
        
        #page .page_next {
            background-color: #fff;
            width: 74px;
        }
        
        #page .page_prev:hover {
            background-color: #ce0000;
        }
        
        #page .page_next:hover {
            background-color: #ce0000;
        }
        
        .pagination_container {
            text-align: center;
        }
        @media(max-width:768px) {
            .pagination_container {
                padding: 0;
            }
            .pagination {
                margin: 10px 0;
            }
            .pagination>li>a {
                font-size: 12px;
                margin: 0 3px;
            }
            .pagination>li:nth-child(1) {
                display: none;
            }
            .pagination>li:nth-last-child(1) {
                display: none;
            }
            .pageJump {
                margin: 0;
                font-size: 12px!important;
            }
            .pageJump input {
                height: 30px;
                width: 30px;
            }
            #page .page_prev,
            #page .page_next {
                width: 50px;
                padding: 5px;
            }
            .pageJump .btn {
                font-size: 12px;
            }
        }
        
